[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
djangorestframework = "==3.11"
djangorestframework-simplejwt = "==4.6"
djoser = "==2.1"
django-environ = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
